form {
	 max-width: 30%;
	 margin: 50px auto;
	 position: relative;
     z-index: 3 !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #022672;
	opacity: 1; /* Firefox */
  }
  
 .feedback-input {
	 color: #0683D7;
	 font-family: AvenirMedium;
	 font-weight: 500;
	 font-size: 18px;
	 border-radius: 5px;
	 line-height: 22px;
	 background-color: transparent;
	 border: 2px solid #FF8BA5;
	 transition: all 0.3s;
	 padding: 13px;
	 margin-bottom: 15px;
	 width: 100%;
	 box-sizing: border-box;
	 outline: 0;
}
 .feedback-input:focus {
	 border: 2px solid #FF8BA5;
}
 textarea {
	 height: 150px;
	 line-height: 150%;
	 resize: vertical;
}
 [type="submit"] {
	 font-family: AvenirMedium;
	 width: 100%;
	 background: #FF8BA5;
	 border-radius: 5px;
	 border: 0;
	 cursor: pointer;
	 color: white;
	 font-size: 24px;
	 padding-top: 10px;
	 padding-bottom: 10px;
	 transition: all 0.3s;
	 margin-top: -4px;
	 font-weight: 700;
}
 [type="submit"]:hover {
	 background: #FF8BA5;
}
 